*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formText {
    font-size: 2.3rem;
    font-family: cursive;
    text-transform: capitalize;
    word-spacing: 15px;
    
    
    
    
    
}
/* 3d text-shadow */

/* change carousal indicators color start */

.form-select:focus{
    border-color: gainsboro;
 }
.myButton button{
    border:2px solid white;
    box-shadow: 2px 2px 20px 3px #0062be;
    background-color: #0062be;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    outline: none;
    letter-spacing: 1px;
    font-family: cursive;
    width:120px;
    height: 40px;
    transition: all 0.5s ease-in-out;

}
.myButton button:hover{
    transform: scale(1.1);
}
.form-control:focus{
    box-shadow: none;
}

@media (min-width:765px)
{
   
    img {
        width: 390px;height: 560px;
    }
    
    

}
@media (max-width:764px)
{
    img {
        width: 390px;height: 440px;
    }


}
